body{
    margin: 0px;
    font-family: 'Uchen', serif;
}
h1{
    font-size: 45px;
}
h2{
    font-weight: 10000;
}
#head{
    display:flex;
    background-image: -webkit-linear-gradient(red,orange);
    height:80px;
}

.head-option{
    font-size: 20px;
    font-weight: 600;
    height: 5px;
    width: 20%;
    text-align: center;
    padding-top: 25px;
}